<!DOCTYPE html>
<html lang="en">
<head>
   <title>
    Forgot-password-Page
  </title>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/page_style.css' %}" rel="stylesheet" />
    <script src="{% static 'js/sweetalert.js' %}"></script>
    

    
  
    <title>Login-page</title>
</head>
<body>
   <section>
      
      <div id="container">
         <header>Login account</header>
         <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
            <fieldset>
               <br/><br/><br/><br/>
               <input class="mt-3" type="email" name="email" id="email" placeholder=" Enter Valid E-mail" required>
               <br/><br/><br/>
               <label for="submit"></label>
               <input class="mt-3" type="submit" name="submit" id="submit" value="Submit">
               <br/>
               <a href="{% url 'login_page' %}">Login Page</a>
            </fieldset>
            
         </form>
               
         
      </div>
   </section>
   
   
   
   <script>
    {% for msg in messages %} 
               
       swal("Server Response", "{{msg}}");
   {% endfor %} 
</script>
   

 </body>
</html>